html, body {
    height: 100%; /* Hace que el html y el body ocupen todo el alto de la ventana del navegador */
 }
 body, header, footer {
     margin: 0;
     padding: 0;
 }
 body {
     overflow-y: hidden; /* Evita el desplazamiento vertical */
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     min-height: 100vh; 
 }
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* Solución para Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }
#welcome {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#image_hipervinculo{
    margin-bottom: 100px;
}
#welcome img {
    width: 100px;
    height: auto;
    margin-left: 20px;
    position: absolute;
    left: 20px; 

}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-container h1 {
    margin: 0;
    text-align: center;
 
}

.text-spaces {
    display: flex;
    align-items:center; /* Centra verticalmente los textos */
}

.text-spaces p {
    
    margin-left: 200px;
    margin-right: 200px;
}

.text-spaces p a {
    color: #fff; /* Cambia el color del texto a blanco */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    padding: 5px 10px; /* Agrega padding para hacer los enlaces más grandes y fáciles de hacer clic */
    border: 1px solid #fff; /* Agrega un borde blanco */
    border-radius: 5px; /* Agrega bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave al color de fondo y al color del texto */
}

.text-spaces p a:hover {
    background-color: #fff; /* Cambia el color de fondo al pasar el cursor */
    color: #333; /* Cambia el color del texto al pasar el cursor */
}

.opinion-form {
    text-align: center; /* Centrar el formulario */
}

.opinion-form h2 {
    margin-bottom: 3px; /* Reducir el espacio entre el encabezado y el párrafo */
    font-size: 36px;
}

.opinion-form p {
    margin: 10px 0; /* Establecer el margen del párrafo */
    font-size: 28px; /* Aumentar el tamaño del texto a 18 pixels */
    font-weight: bold; /* Hacer que el texto esté en negrita */
}

.table-section {
    text-align: left; /* Alinear la tabla a la izquierda */
    margin-left: 25%; /* Alinear a la izquierda pero no totalmente */
    margin-top: 26px; /* Agregar espacio en la parte superior */
    border: 1px solid #ccc; /* Establecer un borde gris de 1px */
    padding: 12px; /* Agregar espacio interno */
    display: inline-block;
    max-width: 350px;
    margin-right: 20px;
}

.table-section input[type="text"],
.table-section input[type="email"],
.table-section input[type="number"],
.table-section textarea {
    width: 300px; /* Ancho personalizado para los campos de entrada */
}

.table-section textarea {
    height: 150px; /* Altura personalizada para el campo de opinión */
}

.table-section button[type="submit"] {
    background-color: black; /* Fondo negro */
    color: white; /* Letra blanca */
    font-size: 14px; /* Tamaño de fuente más grande */
    padding: 10px 20px; /* Añadir relleno al botón */
    margin: 20px auto; /* Centrar el botón */
    margin-top: 5px;
    margin-bottom: 1px;
    display: block; /* Convertir a bloque para aplicar márgenes */
    border: none; /* Eliminar borde */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    border-radius: 5px; /* Añadir esquinas redondeadas */
}

/* Estilizar todos los placeholders */
::placeholder {
    font-family: 'Inter', sans-serif; /* Cambia la fuente */
    color: #999; /* Cambia el color del texto del placeholder */
}


.design-principles h2{
    font-size: 18px;
    margin-bottom: 25px;
    white-space: nowrap; /* Evita que el texto se envuelva a la siguiente línea */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto si se corta */
}
.design-principles ul {
    font-size: 15px; /* Tamaño de fuente más pequeño para los elementos de la lista */
}

.design-principles li {
    font-size: 15px; /* Tamaño de fuente más pequeño para los elementos de la lista */
    margin-bottom: 12px;
}

.main-section {
    display: flex;
    justify-content: space-between; /* Alinear las secciones a los extremos */
}

.design-principles {
    max-width: 350px; /* Limitar el ancho de la sección */
    margin-right: 550px;
}
.table-section {
    margin-right: 20px; /* Espacio entre las secciones */
}

footer {
    margin-top: auto;
    background-color: #333;
    color: #fff;
    text-align: start;
    width: 100%;
    height: 2vh;
}
footer p{
    margin-top: 0;
}


